extends base

mixin formField(label, inputType, val, uniClass)
  .form__field
    label.form__field__label= label
    .form__field__password
      input.form__field__input(type=`${inputType}` class=`${uniClass}` value = `${val}`)
      ion-icon.form__field__password__toggleBtn.password__toggleBtn(name= 'eye-off')

block content 
  .formDesign
    .heading.heading--secondary.heading--design1.u-margin-bottom-small= `${title}`
    form.form(class= `${resetToken ? 'resetPassword__form' : 'changePassword__form'}` data-resettoken = `${resetToken ? resetToken : ''}`)
      -if(!resetToken)
        +formField('Current Password', 'password', '' , 'currentPassword')
      +formField('New Password', 'password', '' , 'newPassword')
      +formField('Confirm Password', 'password', '' , 'confirmPassword')
      .form__field
        button.form__field__submitBtn Save Password


        